body{
    margin: 1% 15%;

}
.wrapper .product{
    height: 125px;
    margin: 10% 4% 5% 4%;
    display:grid;
    grid-template-columns: 44% 55%;
 }

 p{
    padding: 0
 }
 @media (max-width: 800px) {
    .wrapper{
        grid-template-columns: 220px 220px ;
    }
 }
 @media (max-width: 640px) {
    .wrapper{
        grid-template-columns: 250px  ;
    }
 }

 @media (max-width: 350px) {
    .wrapper{
        grid-template-columns: 200px  ;
    }
 }
 @media (max-width: 280px) {
    .wrapper{
        grid-template-columns: 150px  ;
    }
 }