body{
    margin: 4% 2%;
}

#inicio-dash{
    text-align: center; background-color: #e5e2e2;
}
.navbar {
    --bs-navbar-padding-y: 1.5rem;
}
.bg-light-2 {
    background-color: rgb(232, 232, 232) !important;
  }

.wrapper {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: center;

  }
 .wrapper .product{
    height: 140px;
    margin: 10% 4% 5% 4%;
    display:grid;
    grid-template-columns: 44% 55%;
 }

 .btn {
    border-radius: 0%;
    width: 14%;
    margin: 0.3% 7%;
 }
 .btn-success {
    border-radius: 0%;
    width: 50%;
    margin: 0;
    height: 30px;
    --bs-btn-padding-y: 0;
 }
 .btn-danger {
    border-radius: 0%;
    width: 50%;
    margin: 0;
    margin-top: 30%;
    height: 30px;
    --bs-btn-padding-y: 0;
 }
 .img-product{
    margin: auto; 
    vertical-align: middle;
 }

 .image{
    display: flex;
    text-align: center;
    border: 2px solid black;
    margin-right: 2%;
 }
 .info{
    display: grid;
 }
 .ttle{
    text-align: left;
    
 }
 a {
    font-size: 15px ;
  }
 @media (max-width: 1402px) {
    .wrapper .product{
      
    }
    .wrapper{
        grid-template-columns: 280px 280px 280px;
    }
 }
 @media (max-width: 1230px) {
    .wrapper .product{
      
    }
    .wrapper{
        grid-template-columns: 280px 280px;
    }
 }

 @media (max-width: 600px) {
    .wrapper .product{
      
    }
    .wrapper{
        grid-template-columns: 280px;
    }
    .btn {
        width: 25%;
        
     }
     .btn-success {
        width: 60%;
     }
     .btn-danger {
        width: 60%;
     }
 }

 @media (max-width: 300px) {
    .wrapper .product{
      
    }
    .wrapper{
        grid-template-columns: 200px;
    }
    .btn {
        width: 35%;
        
     }
     .btn {
        width: 40%;
        
     }
     .btn-success {
        width: 70%;
     }
     .btn-danger {
        width: 70%;
     }
 }