
body{
    margin: 1% 15%;
    Font-Size: 12px;
    Color: #606060;
    background-color: #d0d0d0;
    Font-Family: 'Open Sans';
}


.bg-light {
    background-color: #e5e2e2 !important;
  }
  .bg-light-2 {
    background-color: white !important;
  }
.navbar-expand-lg .navbar-collapse {
    justify-content: right;
}  
.navbar-brand {
   color: rgb(255, 255, 255);
    font-size: 12px;

  }

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 3em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
}
#icon{
    margin-left: 70px;

}  
span { font-size: 12px; }

h1{
    Font-Size: 16px;
    font-weight: bold;

}
h2{
    Font-Size: 14px;
    font-weight: bold;
    
}

button{
    Font-Size: 11px

}

p{
    padding: 10px;
}

a{
    font-size: 11px;
}
#carrito1{
       display: none;
}

#inicio{
    text-align: center; background-color: #e5e2e2; height: 170px;
}



.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
.text-start {
    text-align: center !important;
}

.carousel-control-next, .carousel-control-prev {
 
    width: 4%;
   background: 0 0;
  }


.carousel-caption {
    height: 100%;
    margin: 10%;
}
.carousel-control-prev-icon {
    border-right: 10px solid rgb(88, 88, 88);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    height: 1rem;
}
.carousel-control-next-icon{
    border-left: 10px solid rgb(88, 88, 88);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    height: 1rem;
}


.container-img{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container-img-2{
    border: 2px solid rgb(0, 0, 0);
    width: 95%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

footer{
    margin-top: 0.3%;
    
}
hr {
    margin: revert;
    color: #606060;
    padding-top: 2%;
    width: 10%;
   
  }



@media (max-width: 994px) {
    #icon {
        margin-left: 70px;
    }
    #carrito1{
       display: block;
       margin-right: 13% !important;
    }
    #carrito2{
       display: none;
    }
    .col-lg-4 {
        flex: 0 0 auto;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
    body{
        margin: 1% 0;
    }

    .rounded-circle {
        border-radius: 33.3% !important;
        width: 50%;
      }
    .row {
    display: flex;
    flex-wrap: wrap;
    
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .collapse:not(.show) {
        display: flex !important;
      }

      #inicio{
        height: 170px;
    }
        
 }
 @media (max-width: 700px) {
    #carrito1{
        width: 80px !important;
        margin-right: 23% !important;
     }
 }
  
 @media (max-width: 426px) {
    #carrito1{
        width: 80px !important;
        margin-right: 40% !important;
     }
     .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 1em;
      }
      .navbar-expand-lg .navbar-collapse {
        justify-content: center;
      }
 }
 @media (max-width: 236px) {
    #carrito1{
        width: 80px !important;
        margin-right: 15% !important;
     }
     .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 1em;
      }
      .navbar-expand-lg .navbar-collapse {
        justify-content: center;
      }

 }
  
@media (max-width:992px) and (min-width:568px) {
    p{
       font-size: 12px;
    }
}
@media (max-width:568px) {
    p{
       font-size: 10px;
    }
    .rounded-circle {
        
        width: 100%;
      }

      #inicio{
        height: 130px;
    }
    #basic-addon1{
        font-size: 12px;
    }
    #icon {
        margin-left: 5px;
    }
}




.form-floating > label {
    padding: .75rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 0.7rem;
    --bs-btn-border-radius: 0;
  }

  #inicio-registro{
    text-align: center; background-color: #e5e2e2; height: 120px;
}
.form-control {
    border-radius:0;
    padding: .175rem .75rem;
  }
  @media (max-width: 994px) {
    #inicio-registro {
        height: 100px;
      }
        
 }
 @media (max-width: 592px) {
    #inicio-registro {
        height: 80px;
      }
        
      .contenedor-1{
        padding-top: 50px !important;
        width: 350px !important;
      }
      .contenedor-2{
        width: 350px !important;
      }
 }
 @media (max-width: 378px) {
    #inicio-registro {
        height: 60px;
      }
      .contenedor-1{
        padding-top: 50px !important;
        width: 250px !important;
      }
      .contenedor-2{
        width: 250px !important;
      }
 }
