.form-floating > label {
    padding: .75rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 0.7rem;
    --bs-btn-border-radius: 0;
  }

  #inicio-login{
    text-align: center; background-color: #e5e2e2; height: 130px;
}
.form-control {
    border-radius:0;
    
  }

  @media (max-width: 994px) {
    #inicio-login {
        height: 100px;
      }
        
 }
 @media (max-width: 592px) {
    #inicio-login {
        height: 80px;
      }
        
      .contenedor-1{
        padding-top: 50px !important;
      }
 }
 @media (max-width: 302px) {
    #inicio-login {
        height: 60px;
      }
        
 }