body{
    margin: 1% 2%;
    
}
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

  }
.wrapper .product{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows :550px;
}

 .articulo{
    height: 100px;
 }
.image{
    background-color: rgb(225, 225, 225);
    margin-right: 0.3%;
    
}
p{
    padding: 0;
}
@media (max-width: 1100px) {
    .wrapper .product{
        grid-template-rows :450px;
    }
   
 }
 @media (max-width: 700px) {
    .wrapper .product{
        grid-template-rows :400px;
    }
   
 }
 @media (max-width: 450px) {
    .wrapper .product{
        grid-template-rows :350px;
    }
    h1{
        font-size: 28px !important;
    }
    h2{
        font-size: 14px !important;
    }
    p{
        font-size: 14px !important;
    }
    a{
        font-size: 14px !important;
    }
    .btn-lg{
        width: 100px !important;
        font-size: 14px !important;
    }
   
 }
 @media (max-width: 350px) {
    .wrapper .product{
        grid-template-rows :350px;
    }
   
 }