.form-floating > label {
    padding: .75rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 0.7rem;
    --bs-btn-border-radius: 0;
  }

  #inicio-registro{
    text-align: center; background-color: #e5e2e2; height: 120px;
}
.form-control {
    border-radius:0;
    padding: .175rem .75rem;
  }



  @media (max-width: 994px) {
    #inicio-registro {
        height: 100px;
      }
        
 }
 @media (max-width: 592px) {
    #inicio-registro {
        height: 80px;
      }
        
      .contenedor-1{
        padding-top: 50px !important;
        width: 350px !important;
      }
      .contenedor-2{
        width: 350px !important;
      }
 }
 @media (max-width: 378px) {
    #inicio-registro {
        height: 60px;
      }
      .contenedor-1{
        padding-top: 50px !important;
        width: 250px !important;
      }
      .contenedor-2{
        width: 250px !important;
      }
 }